body {
    background-color: black;
}

/*Placement de l'image*/

.picture {
    display: flex;
    justify-content: center;
}

.picture img {
    width: 600px;
}

/*Mise en forme de l'en tête*/

header{
    background-color: red;
    margin: 20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {color: white}

section{
    display: flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
}

/*Choix de la couleur de la police d'écriture*/

p {color: white;}

/*Titre principale*/

h1 {
    color: white;
    text-align: center;
    font-size:300%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/*Sous titre*/

h2 {
    color: white;
    text-align: center;
    font-style: italic;
}

/* Page Orelsan terminée*/

/*Mise en place de la fin de page*/

footer {
    
    background-color: red;
    box-shadow:black;
    margin: 2px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 30px;        
    width: auto; 
}


/*Mise en forme du texte de la page Histoire*/

section4{
    text-align: center;
}
section4 div{
    margin: auto 6%;
}

/* Mise en forme des images discographies*/

.box {
    display: flex;
    justify-content: space-evenly;
}

.box2 {
    display: flex;
    justify-content: space-evenly;
}
