"{
    padding 0;
    margin 0;
    box-sizing: border-box;
    font-family: century;
}"

:root {
    --primary-color: #d0c6c6;
    --gradient-start: #f2e7e7;
    --gradient-end: #decfcf;
}

nav {
    box-shadow: 0 4px 15px rgb(141, 32, 32);
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--primary-color);
    background-color: rgba(84, 19, 19, 0.9);
    padding: 0.75rem 1.5rem;
    margin: 0 0.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: #f6f0f0;
    transform: translateY(-2px);
    
}

body {
    background-color: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
img {
    width: 100vw;      /* La largeur prend 100% de la largeur de la fenêtre */
    height: 100vh;     /* La hauteur prend 100% de la hauteur de la fenêtre */
    object-fit: cover; /* Maintient les proportions de l'image sans la déformer */
    display: block;    /* Évite l'espace en dessous de l'image (comportement inline) */
}
